 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-image: url('images/bg.jpg');
            background-size: 100% 100%;

        }

        form {
            width: 400px;
            height: 520px;
            box-shadow: 1px 1px 10px 1px rgb(70, 68, 67);
        }

        .centercalcy {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #app_name {
            width: inherit;
            font-size: 0.9rem;
            padding: 2px 0 2px 10px;
            background-color: #303030;
            color: white;
            border: none;
            outline: none;
            margin-bottom: 0;
            font-family: 'Open Sans', sans-serif;
        }

        #display_answer {
            width: inherit;
            height: 100px;
            background-color: #303030;
            font-size: 2rem;
            color: white;
            text-align: right;
            outline: none;
            border: none;
        }

        .layer1 {
            width: inherit;
            height: 90px;
            display: flex;
            justify-content: center;

        }

        .layer2 {
            width: inherit;
            height: 45px;
            display: flex;
            justify-content: center;
        }

        input {
            flex: 1;
            font-size: 1.4rem;
            color: white;
            border: 1px solid #504f4f;
            outline: none;
            
        }

        .main_num {
            background-color: #101011;
            
            
        }

        .oper {
            background-color: #303030;
            
        }

        #clearbutton {
            font-size: 1rem;
        }
        input:hover{
            background-color: #474747;
            border: 1px solid grey;
        }
        footer{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 0.7rem;
            font-weight: bolder;
            letter-spacing: 2px;
        }